figure.main-image {
background: PaleVioletRed;
border-color: MediumVioletRed;
color:  #ffffff;
   margin-bottom: 32px;

   @media all and (min-width: 768px) {

   figure img { 
  max-width: 100%
  height: auto;
  margin-bottom: 12 px 
}
img {
  max-width: 100%
  height: auto;
}
  figure.section-image {
float: right;
margin left: 20px;
margin-bottom 32px;
max width: 320 px;
  }
figure.section-image.odd{
  float right;
  margin-left: 20px;
}
figure.section-image.even{
  float: left;
  margin-right: 20px
}

p img {
float: right;
  max-width: 60%
  margin-left: 20px
  margin-bottom: 32px

  }
@media all and (min-width 376px)
  nav ul{
    display: flex;
    justify-content: center;
    gap: 30 px;
    list-style: none;
    padding-left:0
}

@media all and (min-width 376px) {
nav ul {

}
}


      






















