figure.main-image {
background: #db7093;
margin-bottom: 32px;
border-style:solid;
border:  1px solid #db7093; 
}
@media all and (min-width: 768px) 

   figure img { 
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}
figure.section-image {
float: right;
margin-left: 20px;
margin-bottom:32px;
max-width:320px;
  }
figure.section-image.odd{
  float: right;
  margin-left: 20px;
}
figure.section-image.even{
  float: left;
  margin-right: 20px;
}

p img {
float: right;
  max-width: 60%;
  margin-left:20px;
  margin-bottom: 32px;

  }
@media all and (min-width: 376px)
  nav ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding-left:0
}

@media all and (min-width: 376px) {
nav ul {

}
h1 {
  color: blue;
  font-family: verdana;
}
p {
  background: #dbffdf;
}
body.dark-mode {
  background: #010101;
  color: #ffffff;
  }
body.dark-mode { background: #010101;color:#ffffff;}
opacity: 1;
transition: opacity .2s ease;  
}
#message.dismissed { opacity: 0 height: 0;}
#message button { float: right;}






      






















